/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Montserrat Semibold';
	src: url('fonts/Montserrat-Semibold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('fonts/Montserrat-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro Regular';
	src: url('fonts/SourceSansPro-Regular.ttf');
	font-weight: normal;
	font-style: bold;
}

body {
	position: relative;
	background-color: white;
	font-weight: 600;
}

#header {
	border-bottom: 2px solid #1C6728;
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	background-color: white;
}

#header-outer {
	max-width: 90%;
  margin: 0 auto;
  padding: 0;
	max-width: 90%;
	overflow: hidden;
}

#page-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}

#page-container-inner, #header-inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

/* Style the header*/
#header-inner {
	background-color: white;
}

#current_navbar_selection {
	background-color: #1C6728;
	transition: 1s;
}

/* Style the header buttons */
#header-outer li:not(#lang_current) {
	font-family: 'Montserrat Bold';
	float: left;
	text-align: center;
	padding: 12px 20px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	color: #1C6728;
	background-color: transparent;
	cursor: pointer;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#header-outer li:not(#lang_current):after {
	mix-blend-mode: exclusion;
}

#header-outer li:hover {
	background-color: #1C6728;
	color: white;
	transition: 0.3s;
}

#lang_current {
	font-family: 'Montserrat Bold';
	text-align: center;
	padding: 12px;
	float: right;
	color: #1C6728;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	background-color: white;
	cursor: pointer;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
	box-sizing: border-box;
}

#title h1 {
	font-family: 'Montserrat Semibold';
	font-size: 38px;
	text-align: right;
	color: #1C6728;
}

#title h1:last-of-type, #title h1:nth-of-type(3) {
	font-family: 'Montserrat Bold';
	font-size: 28px;
	text-align: center;
	margin-top: 32px;
	margin-left: 16px;
}

#title_section {
	position: relative;
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
	height: 500px;
	display: table;
	text-align: center;
	color: white;
	background-image: url(images/image-banner.jpg);
	background-position: bottom;
	margin-bottom: 40px;
}

#title {
	width: 50%;
	position: absolute;
	top: 150px;
	float: right;
	right: 13%;
	padding: 2%;
	background-color: rgba(255, 255, 255, 0.85);
}

#logo {
	max-width: 195px;
}

#title img {
	margin-bottom: 14px;
}

.subtitle {
	font-family: 'Montserrat Bold';
	font-size: 22px;
	margin-bottom: 26px	;
	color: #1C6728;
	margin-top: 42px;
}

.subtitle span {
  background: -webkit-linear-gradient(left, 
    #BEDBC3 0%,
    rgba(255,255,255,0.9) 100%
  );
  padding-left: 26px;
  padding-right: 30px;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
}

.organizer img, .partner img {
	width: 100px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-left: 26px;
	float: left;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.organizer h4, .partner h4 {
	font-family: 'Montserrat Bold';
	font-size: 18px;
	padding: 4px 0 7px;
	padding-right: 20px;
	word-wrap: normal;
}

.organizer p, .partner p {
	font-family: 'SourceSansPro Regular';
	font-size: 18px;
	margin-bottom: 1%;
}

.organizer div, .partner div {
	position: absolute;
	margin-left: 140px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.organizer a, .partner a {
	color: #1C6728;
	text-decoration: none;
}

.organizer, .partner {
	display: table;
	height: 132px;
	background-color: white;
	position: relative;
}

#organizers, #partners {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(470px, 50%));
}

.section_title {
	font-family: 'Montserrat Bold';
	margin-bottom: 24px;
	font-size: 26px;
	color: white;
	padding-left: 26px;
	padding-bottom: 1%;
	padding-top: 1%;
}

@media screen and (orientation: landscape) {
	.section_title {
		background: -webkit-linear-gradient(left,
    #1C6728 40%,
    rgba(255,255,255,0.9) 100%
  );
	}
}

@media screen and (orientation: portrait) {
	.section_title {
		background: -webkit-linear-gradient(left,
    	#1C6728 75%,
    	rgba(255,255,255,0.9) 135%
  	);
		padding-right: 26px;
	}
}

.section {
	margin-top: 70px;
	margin-bottom: 40px;
}

li:not(#header-outer li) {
	padding-left: 26px;
  margin-left: 0px;
  margin-bottom: 4px;
  padding-left: 0;
}

ol, ul:not(#header-inner) {
  list-style: none;
  counter-reset: counter;
  margin-top: 14px;
}

ol li {
  counter-increment: counter;
}

ol li::before {
	font-size: 20px;
	content: counter(counter) ". ";
	display: inline-block;
	color: #1C6728;
	font-weight: bold;
	background: -webkit-linear-gradient(left, 
		#BEDBC3 0%,
		rgba(255,255,255,0.9) 100%
	);;
	padding-left: 6px;
	margin-right: 4px;
}

ul li:not(#header-inner li) {
	margin-left: 26px;
}

li span {
	color: #1C6728;
}

#section a:not(h4 a) {
	margin-top: 40px;
	padding: 20px;
	color: #1C6728;
	font-size: 18px;
	cursor: pointer;
	font-weight: 600;
}

iframe {
	margin-top: 20px;
}

a:not(#lang_current, #header-outer a, h4 a, .button), p, li {
	font-size: 20px;
	font-family: 'SourceSansPro Regular';
}

a:not(#lang_current, #header-outer a, h4 a, #creators a, .button), p {
	margin-left: 26px;
}

a:not(#lang_current, #header-outer a, h4 a, .person > p, .button), p:not(#persons p), li {
	text-align: justify;
}

#contact p, #developer p {
	margin-bottom: 4px;
}

.person p:first-of-type {
	font-family: 'Montserrat Bold';
	margin-bottom: 4px;
}

#persons {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 33%));
}

@media screen and (max-width: 1084px) and (orientation: landscape){
	#persons {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 100%));
	}

	.person {
		margin-bottom: 14px;
	}
}

@media screen and (orientation: portrait){
		#persons {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 100%));
	}
}

#developer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 50%));
}

@media screen and (max-width: 1084px) and (orientation: landscape) {
	#developer {
		grid-template-columns: repeat(auto-fill, minmax(600px, 100%));
	}
}

@media screen and (orientation: portrait) {
	#developer {
		grid-template-columns: repeat(auto-fill, minmax(600px, 100%));
	}
}

#contact a, #developer a {
	line-height: 40px;
	margin: 26px;
	text-decoration: none;
	color: #1C6728;
}

#contact a:hover, #developer a:hover {
	background-color: #1C6728;
	color: white;
	transition: 0.3s;
}

#developer p:first-of-type {
	font-family: 'Montserrat Bold';
}

.wip {
	color: #1C6728;
	margin: 26px;
}

#creators div {
	width: 100%;
}

.button:not(#button-row > button) {
	display: table;;
	padding: 14px;
	color: #1C6728;
	background-color: white;
	border: 2px #1C6728 solid;
	text-decoration: none;
	text-align: center;
	font-family: 'Montserrat Bold';
	font-size: 18px;
	margin: 0 auto;
}

.button:not(#button-row > button):hover {
	transition: 0.3s;
	color: white;
	background-color: #1C6728;
}

#button-row > button {
	display: table;
	height: 132px;
	background-color: none;
	position: relative;
	vertical-align: middle;
}

#button-row {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 50%);
	max-width: 60%;
	margin: auto;
}